<li class="list-group-item tex-left" data-id="<%= cart_item.id %>">
  <p class="text-left">
    <%= cart_item.medicine.name %>
    Cost: <%= cart_item.medicine.value %>
    Quantity: <%= cart_item.quantity %>
  </p>
  <%= form_with url: "/cart_items/remove", local: false  do |f| %>
    <div class="input-group mb-3">
      <%= f.hidden_field :cart_id, value: cart_item.cart.id %>
      <%= f.hidden_field :cart_item_id, value: cart_item.id %>

      <%= f.number_field :quantity, placeholder: "Quantity", class: "form-control", min: 1, max: cart_item.quantity %>
      <div class='input-group-append'>
        <%= f.submit 'Remove', :class => 'btn btn-danger'%>
      </div>
    </div>
  <% end %>
</li>