<div class="col-md-4">
  <div class="card mb-4 shadow-sm" data-id="<%= stock_item.id %>">
    <div class="card-body">
      <p class="card-text text-left font-weight-bold"> 
        <%= stock_item.name %>
      </p>
      <p class="card-text text-left">
        $: <%= stock_item.value %>
      </p>
      <p class="card-text text-left">
        In stock: <%= stock_item.stock %> unit(s)
      </p>
      <%= form_with url: "/cart_items/add", local: false  do |f| %>
        <%= f.hidden_field :medicine_id, value: stock_item.id %>
        <%= f.hidden_field :cart_id, value: @customer.active_cart.id %>
        <div class="input-group mb-3">
          <%= f.number_field :quantity, placeholder: "Quantity", class: "form-control", min: 1, max: stock_item.stock %>
          <div class='input-group-append'>
            <%= f.submit 'Add', :class => 'btn btn-secondary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>