<!DOCTYPE html>
<html>
  <head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ConsultaRemedio App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container w-100 h-100 mx-auto flex-column d-flex text-center">
      <% flash.each do |type, msg| %>
        <div class="alert alert-primary" role="alert">
          <%= msg %>
        </div>
      <% end %>
      <div class="py-3">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
